.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.success-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.course-list {
  display: flex;
  flex-wrap: wrap;
}
.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.retry-btn {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  background-color: #4656a1;
  height: 30px;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
